<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes app</title>
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
</head>
<body>
    <h2>Hello there, {{.token}}!</h2>
    <form id="newNote">
        <label for="HeaderForm">Header</label><input type="text" id="HeaderForm">
        <label for="TextForm"></label><input type="text" id="TextForm">
        <input type="button" id="button">
        <script type="text/javascript">
            $("#button").click(function () {
                $.ajax('http://localhost:2020/api/newNote', {
                    type: 'POST',  // http method
                    data: { "Title": $("#HeaderForm").val(), "Text":$("#TextForm").val(), "Username":"{{.token}}",// data to submit
                    success: function (data) {
                        window.alert("success")
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                    }
                }});
            })
        </script>
    </form>
    <h1>Owned Notes</h1>
    {{range .own}}
        <h3>{{.title}}</h3>

    {{end}}
    <h1>Shared Notes</h1>
    {{range .shared}}
        <h3>{{.title}}</h3>
    {{end}}
</body>
</html>