<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title>
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
</head>
<body>
<form id="main">
    <input type="text" value="{{.title}}">
    <input type="text" value="{{.text}}">
    <button type="button">
        save!
    </button>
</form>
    <h1>{{.title}}</h1>
    <br>
    <h2></h2>
</body>
</html>